td {
  padding: 2px;
  vertical-align: center;
}
#selTestXml {
  width: 300px;
}
#selTestCase {
  width: 500px;
}
#controlpanel {
  top: 0;
  padding: 0;
  width: 226px;
  height: 426px;
}
#selOperation {
  width: 100%;
}
#map {
  width: 426px;
  height: 426px;
  border: 1px solid #ccc;
}
#txtInput {
  font-size: 0.85em;
  width: 100%;
  height: 100%;
}
#txtOutput {
  font-size: 0.85em;
  width: 100%;
  height: 100%;
}
#iopanel {
  height: 150px;
}
#lblA {
  color: blue;
}
#lblB {
  color: red;
}
#lblResult {
  color: #acd62b;
}
#lblExpected {
  color: #2bd656;
}
p {
  margin: 0;
  padding: 0.75em 0 0.75em 0;
}
td.testlabel {
  width: 90px;
}
table.tests {
  width: 100%;
}
table.controls {
  width: 100%;
  height: 100%;
}
td.controlpanel {
  vertical-align: center;
}
td.arglabel {
  width: 120px;
}
td.argtext {
  text-align: right;
}
input.txtArg {
  width: 100px;
  text-align: right;
}
td.iolabel {
  width: 90px;
  height: 75px;
  list-style: none;
  vertical-align: top;
}
td.iobutton {
  vertical-align: top;
  text-align: center;
}
td.iotext {
  width: 500px;
}
option.unary {
  background-image: url("./img/unary-geom-function.png");
  background-repeat: no-repeat;
  color: blue;
}
option.binary {
  background-image: url("./img/binary-geom-function.png");
  background-repeat: no-repeat;
  color: red;
}